<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Crochê Moxaum</title>
        <link href="\styles\nini-menu.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <div>
                <a href="#" id='a-nav'><img src="\assets\burger.png">
                </a>
                <a href='/' id='a-logo'>
                    <img src='\assets\logo.png'>
                </a>
                <a href='/' id='a-logo'>
                    <p>Lojinha da Nickk</p>
                </a>
            </div>
            <div id = 'socials'>
                <a href="https://www.instagram.com/lojinha_da_nickk/"target="_blank"><img src="\assets\instagram.png" alt=""></a>
                <a href="https://twitter.com/lojinhadanickk"target="_blank"><img src="\assets\twitter.png" alt=""></a>
                <a href="https://www.tiktok.com/@choconiih?"target="_blank"><img src="\assets\tiktok.png" alt=""></a>
                <a href="https://shopee.com.br/lojinhadanickk?categoryId=23291&itemId=8768079112"target="_blank"><img src="\assets\shopee.png" alt=""></a>
            </div>
        </header>
        <main id="main">
            <nav id='nav-bar'>
                <ul>
                    <hr/>
                    <a href="/" id='nav-menu'>
                        <li>Menu</li>
                    </a>
                    <a href="/nini-contador" id='nav-contador'>
                        <li>Contador</li>
                    </a>
                    <a href="/nini-encomendas" id='nav-encomendas'>
                        <li>Encomendas</li>
                    </a>
                    <hr/>
                </ul>
            </nav>
            <div id='content'>
                <div id='caixas-menu'>
                    {% for item in final %}
                        <div id='caixa-menu'>
                            <div id='img' style="background-image: url({{ item.card.imagem }});"></div>
                            <form id ='deleteform' action="/deletarmenu" method='POST'>
                                <button name='id' type='submit' value='{{item.card.id}}'><img src="\assets\x.png"></button>
                            </form>
                            <div id='info'>
                                <p>{{ item.card.amigurumi }}</p>
                                <p>{{ item.cont}}</p>
                            </div>
                        </div>
                    {% endfor %}
                    <div id='caixa-menu'>
                        <form id ='addform' action="/adicionarmenu" method='POST'>
                            <p>Amigurumi:</p>
                            <input type="text" id='amigurumi' name='amigurumi' required>
                            <p>URL:</p>
                            <input type="text" id='imagem' name='imagem' required>
                            <button type='submit'><img src="\assets\+.png" alt=""> </button>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <script src='\scripts\nini-menu.js'></script>
    </body>
</html>