:root{
    /* Normal */
    --nav-color: rgb(209, 243, 253);
    --background-color: rgb(250, 255, 212);
    --content-color1: #fde7e8;
    --content-color2: #fc6065;
    --hr-color: rgba(255, 68, 68, 0.37);
    --border-color: #bb484c;
    --text-color: rgb(105, 105, 105);
    --shadow-color: rgba(128, 128, 128, 0.37);

    /* Dark */
    /* --nav-color: rgb(59, 59, 59);
    --background-color: rgb(204, 204, 204);
    --content-color1: #a0a0a0;
    --content-color2: #474747;
    --hr-color: rgba(0, 0, 0, 0.37);
    --border-color: #222222;
    --text-color: rgb(255, 255, 255);
    --shadow-color: rgba(0, 0, 0, 0.705); */

    /* Night theme */
    /* --nav-color: rgb(0, 22, 65);
    --background-color: rgb(92, 86, 52);
    --content-color1: #8a494c;
    --content-color2: #6b0004;
    --hr-color: rgba(255, 55, 55, 0.37);
    --border-color: #3f0002;
    --text-color: rgb(255, 255, 255);
    --shadow-color: rgba(0, 0, 0, 0.37); */
}

*{
    margin:0;
    padding:0;
    transition: 400ms;
}


body, html{
    background-color: var(--background-color);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height:100%;
    width:100%;
    
}

::-webkit-scrollbar{
    width:15px;
}
::-webkit-scrollbar-thumb{
    background:var(--content-color2);
    border-radius: 10px;
    height: 7px;

}
::-webkit-scrollbar-track{
    height:60%;
    background-color: var(--content-color1);
    box-shadow: inset 0 0 5px var(--shadow-color);

}

header{
    position:fixed;
    z-index: 2;
    height:100px;
    width:100vw;
    background-color: var(--nav-color);
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 5px var(--shadow-color);
    text-decoration: none;
    font-size: 18pt;
    color:var(--text-color);
}
header div{
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
header #socials{
    justify-content: space-around;
    margin-right: 40px;
    width: 320px;
}
header #socials a{
    width: 40px;
    height:40px;
    border-radius: 20px;
    transition: 300ms;
}
header #socials a:hover{
    background-color: rgba(102, 102, 102, 0.26);

}
header #socials a:active{
    background-color: rgba(104, 104, 104, 0.521)
}
header #socials img{
    width:30px;
}
header div a{
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 18pt;
    color:var(--text-color);
}
header #a-nav{
    width: 250px;
}
header #a-nav img{
    height:30px;
    transition:200ms;
}
header #a-nav img:hover{
    height:35px;
}
header #a-img img{
    height:50px;
    transition:200ms;
}
header #a-img img:hover{
    height:55px;
}
header #a-logo p{
    margin-left:20px;
    transition: 200ms;
}
header #a-logo p:hover{
    font-size:19pt;
}
.switch {
    position: relative;
    display: inline-block;
    margin-left: 20px;
    width: 50px;
    height: 26px;
}
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #1a1a1a;
}  
input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
}
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}


main{
    display:flex;
    height:100vh;
    overflow-y: scroll;
}
main::-webkit-scrollbar-track-piece:start{
    margin-top:100px;
}
#nav-bar{
    top:84px;
    height:100vh;
    width: 230px;
    background-color: var(--nav-color);
    box-shadow: 2px 20px 5px var(--shadow-color);
    transition: 400ms;
    display:flex;
    position:fixed;
    z-index: 3;
    left:0;
    justify-content: center;
}
#nav-bar.active{
    left:-100%;
}
#nav-bar ul{
    margin-top: 15px;
    list-style:none;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
#nav-bar ul li{
    font-size: 15pt;
    padding:8px;
    width:100%;
    text-align: center;
    color:var(--text-color);
    transition:200ms;
}
#nav-bar ul li:hover{
    background-color:rgb(227, 249, 255);
}
#nav-bar ul li:active{
    background-color:rgb(238, 251, 255);
}
#nav-bar ul a{
    text-decoration: none;
    width:100%;
    display:flex;
    justify-content: center;
}
#nav-bar ul hr{
    width:100%;
    border: 1px solid rgba(128, 128, 128, 0.253);
}




#content{
    margin: 100px auto 0 auto;
    transition: 400ms;
    height:100vh;
    width:100%;
    padding-left:230px;
}
#content.active{
    padding-left:0px;
}

#content #caixas-menu{
    width:80%;
    margin: 50px auto 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    transition: 200ms;
    box-sizing: border-box;
}
#content #caixa-menu{
    width: 180px;
    height:180px;
    margin-bottom: 30px;
    display:flex;
    flex-direction: column;
    background-color: var(--content-color2);
    justify-content: space-between;
    position:relative;
    z-index: 1;
    transition: 200ms;
    box-shadow: 3px 3px 5px var(--shadow-color);
}
#content #caixa-menu #img{
    height: 130px;

    background-size: cover;
    background-position: center;
}
#content #caixa-menu #info{
    display:flex;
    background-color: var(--content-color2);
    justify-content: space-around;
    align-items: center;
    height:50px;
    color:white;
}
#content #caixas-menu #caixa-menu #deleteform{
    position: absolute;
    width: inherit;
    display: flex;
    flex-direction:row-reverse;
}
#content #caixas-menu #caixa-menu #deleteform button{
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0);
    border:none;
    cursor: pointer;
    margin: 3px 3px 0 0;
}
#content #caixas-menu #caixa-menu #deleteform button img{
    height:12px;
}
#content #caixas-menu #caixa-menu #addform{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    color:white;
    font-weight: 600;
}
#content #caixas-menu #caixa-menu #addform button{
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0);
    border:none;
    cursor: pointer;
}
#content #caixas-menu #addform #imagem, #amigurumi{
    margin: 0 5px 0 5px;
    height:20px;
    width: 110px;
    background-color: var(--content-color1);
    border:2px solid var(--border-color);
    border-radius: 6px;
    text-align: center;
    color:var(--text-color);
    font-weight: 600;
}
#content #caixas-menu #addform input:focus{
    outline:none;
}
#content #caixa-menu button img{
    height: 26px;
    transition: 200ms;
}