*{
    margin:0;
    padding:0;
}


body, html{
    background-color: rgb(250, 255, 212);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height:100%;
    width:100%;

}

::-webkit-scrollbar{
    width:15px;
}
::-webkit-scrollbar-thumb{
    background:#fc6065;
    border-radius: 10px;
    height: 7px;

}
::-webkit-scrollbar-track{
    height:60%;
    background-color: #fde7e8;

    box-shadow: inset 0 0 5px rgba(107, 54, 54, 0.74);

}

header{
    position:fixed;
    z-index: 2;
    height:100px;
    width:100vw;
    background-color: rgb(209, 243, 253);
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.37);
    text-decoration: none;
    font-size: 18pt;
    color:rgb(105, 105, 105);
}
header div{
    display: flex;
    align-items: center;
}
header #socials{
    justify-content: space-around;
    margin-right: 50px;
    width: 200px;
}
header #socials img{
    width:30px;
    transition: 200ms;
}
header #socials img:hover{
    width:35px;
}
header div a{
    display:flex;
    align-items: center;
    text-decoration: none;
    font-size: 18pt;
    color:rgb(105, 105, 105);
}
header #a-nav img{
    margin: 0 140px 0 110px;
    height:30px;
    transition:200ms;
}
header #a-nav img:hover{
    height:35px;
}
header #a-logo img{
    height:50px;
    transition:200ms;
}
header #a-logo img:hover{
    height:60px;
}
header #a-logo p{
    margin-left:20px;
    transition: 200ms;
}
header #a-logo:hover{
    font-size:19pt;
}



main{
    display:flex;
    height:100vh;
    overflow-y: scroll;
}
main::-webkit-scrollbar-track-piece:start{
    margin-top:100px;
}
#nav-bar{
    top:100px;
    height:100vh;
    width: 230px;
    background-color: rgb(209, 243, 253);
    box-shadow: 0 9px 0px rgba(128, 128, 128, 0.37), 0 -12px 0px rgb(209, 243, 253), 0px 12px 7px rgba(128, 128, 128, 0.37), -12px 0 15px rgb(209, 243, 253);
    transition: 400ms;
    display:flex;
    position:fixed;
    z-index: 3;
    left:0;
    justify-content: center;
}
#nav-bar.active{
    left:-100%;
}
#nav-bar ul{
    margin-top: 15px;
    list-style:none;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
#nav-bar ul li{
    font-size: 15pt;
    padding:8px;
    width:100%;
    text-align: center;
    color:rgb(105, 105, 105);
    transition:200ms;
}
#nav-bar ul li:hover{
    background-color:rgb(227, 249, 255);
}
#nav-bar ul li:active{
    background-color:rgb(238, 251, 255);
}
#nav-bar ul a{
    text-decoration: none;
    color: black;
    width:100%;
    display:flex;
    justify-content: center;
}
#nav-bar ul hr{
    width:100%;
    border: 1px solid rgba(128, 128, 128, 0.253);
}




#content{
    margin: 100px auto 0 auto;
    transition: 400ms;
    height:100vh;
    width:100%;
    padding-left:230px;
}
#content.active{
    padding-left:0px;
}

#content #caixas-menu{
    width:80%;
    margin: 50px auto 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    transition: 200ms;
    box-sizing: border-box;
}
#content #caixa-menu{
    width: 180px;
    height:180px;
    margin-bottom: 30px;
    display:flex;
    flex-direction: column;
    background-color: #fc6065;
    justify-content: space-between;
    position:relative;
    z-index: 1;
    transition: 200ms;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.541);
}
#content #caixa-menu #img{
    height: 130px;

    background-size: cover;
    background-position: center;
}
#content #caixa-menu #info{
    display:flex;
    background-color: #fc6065;
    justify-content: space-around;
    align-items: center;
    height:50px;
    color:white;
}
#content #caixas-menu #caixa-menu #deleteform{
    position: absolute;
    width: inherit;
    display: flex;
    flex-direction:row-reverse;
}
#content #caixas-menu #caixa-menu #deleteform button{
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0);
    border:none;
    cursor: pointer;
    margin: 3px 3px 0 0;
}
#content #caixas-menu #caixa-menu #deleteform button img{
    height:12px;
}
#content #caixas-menu #caixa-menu #addform{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    color:white;
    font-weight: 600;
}
#content #caixas-menu #caixa-menu #addform button{
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0);
    border:none;
    cursor: pointer;
}
#content #caixas-menu #addform #imagem, #amigurumi{
    margin: 0 5px 0 5px;
    height:20px;
    width: 110px;
    background-color: #fff6f6;
    border:2px solid #bb484c;
    border-radius: 6px;
    text-align: center;
    color:rgb(105, 105, 105);
    font-weight: 600;
}
#content #caixas-menu #addform input:focus{
    outline:none;
}
#content #caixa-menu button img{
    height: 26px;
    transition: 200ms;
}